<form name="MrForm" *ngIf="!success">
  <div class="outer-container">
    <div class="example-container">
      <mat-form-field>
        <mat-select name="test" required [(ngModel)]="complaint.complaintType" placeholder="Type of complaint">
          <mat-option *ngFor="let type of typesOfComplaint" [value]="type.value">{{ type.view }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="complaint.selectedtypeOfComplaint == 'Just Angry'">
        <iframe width="960" height="540" [src]=getCatVideoURL() frameborder="0" allowfullscreen></iframe>
        Please enjoy this complementary kitten therapy session
      </div>

      <mat-form-field >
        <input name="test" matInput type="url" [(ngModel)]="complaint.businessName" placeholder="Name of bad business" >
      </mat-form-field>

      <mat-form-field>
        <mat-select name="test" required [(ngModel)]="complaint.locationType" placeholder="Location">
          <mat-option *ngFor="let type of typesOfLocation" [value]="type.value">{{ type.view }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="complaint.locationType == 'internet'">
        <input name="test" [formControl]="complaintLocationURLFormControl" matInput type="url" [(ngModel)]="complaint.link" placeholder="Internet Place:" >
        <mat-error *ngIf="complaintLocationURLFormControl.hasError('required')">
          Please enter a valid internet address
        </mat-error>
      </mat-form-field>

      <div *ngIf="complaint.locationType == 'not internet'" class="margin10"> Please locate the non internet location on the map provided below, then select the specific address from the dropdown </div>
      <agm-map *ngIf="complaint.locationType == 'not internet'" [latitude]="mapLat" [longitude]="mapLng" [zoom]="zoom" (mapClick)="mapClicked($event)" (zoomChange)="zoomChange($event)">
        <agm-marker [latitude]="mapPointerLat" [longitude]="mapPointerLng"></agm-marker>
      </agm-map>
      <mat-form-field *ngIf="complaint.locationType == 'not internet'">
        <mat-select name="test" required [(ngModel)]="complaint.selectedAddressLocation" placeholder="Address">
          <mat-option *ngFor="let address of reverseGeocodedAddressList" [value]="address.formatted_address">{{ address.formatted_address }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field >
        <textarea matInput name="test" type="url" [(ngModel)]="complaint.content" placeholder="Complaint Body"></textarea>
        <mat-hint align="end">Feel free to add all the irrelevent information you like </mat-hint>
      </mat-form-field>

    </div>
    <div class="button-wrapper">
      <button class="alice" (click)="submit()" mat-raised-button>Submit</button>
    </div>
  </div>
</form>

<div class="outer-container" *ngIf="success">
  <h1>Thank you, your complaint is important to us.</h1>
  <img src="https://media.giphy.com/media/26uf6o80xhd6MKGIw/giphy.gif">
</div>
