<div *ngIf="!twoFactor && !authFailed" class="outer-container">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Username" name="username" [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" name="password" [(ngModel)]="password">
    </mat-form-field>

  </div>
  <div class="button-wrapper">
    <button class="alice" (click)="login()" mat-raised-button>Login</button>
    <button class="link-button" (click)="goToNewUser()" mat-button>Create new user</button>
  </div>
</div>

<div *ngIf="twoFactor && !authFailed" class="outer-container">
  <div class="example-container">
    <span>We need to confirm its you</span>
    <mat-form-field>
      <input matInput placeholder="Two factor auth code" name="twoFactorAuth" [(ngModel)]="twoFactorAuth" required>
    </mat-form-field>
    <div class="button-wrapper">
      <button class="alice" (click)="checkAuth()" mat-raised-button>Submit</button>
    </div>
  </div>
</div>

<div *ngIf="authFailed" class="outer-container">
  <h1>WRONG</h1>
</div>

<!--<div class="outer-container">-->
  <!--<span>Thank you, your complaint is important to us.</span>-->
  <!--<img src="https://media.giphy.com/media/26uf6o80xhd6MKGIw/giphy.gif">-->
<!--</div>-->
