<div class="outer-container">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Username" name="username" [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" name="password" [(ngModel)]="password">
    </mat-form-field>

    <div *ngIf="authFailed">
      <span>WRONG</span>
    </div>

  </div>
  <div class="button-wrapper">
    <button class="alice" (click)="login()" mat-raised-button>Login</button>
    <button class="link-button" (click)="goToNewUser()" mat-button>Create new user</button>
  </div>
</div>
